* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.alert_status {
    border: 3px solid blue;
    border-radius: 5px;
    max-width: auto;
    padding: 8px;
    font-family: Verdana;
    font-size: 1rem;
    background-color: lightskyblue;
    color: blue;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 35%;
}