* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: blue;
    border: 4px solid white;
    height: 100vh;
}
.h1 {
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6rem;
    font-weight: 300;
}
.h3 {
    color: blue;
    text-align: start;
    padding-left: 1%;
    border-bottom: 3px solid blue;
}
.p {
    color: white;
    font-family: Tahoma;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}