{% extends 'base.html' %}

<title>
    {% block title %}
    Account Profile
    {% endblock %}
    </title>

{% block content %}
<h1 class="h1">PERSONAL ACCOUNT</h1>
<p>Enter a small description which best describes you.</P>
<main>
    <form method="post" action="{% url 'accounts' %}">
    <label for="">Personal Info
    <textarea class="textarea" width="500" height="250">
    </textarea>
</label>
<button type="submit" class="" value="submit">Update Profile</button>
</form>
</main>
{% endblock %}