{% extends 'base.html' %}

<title>
    {% block title %}
    Home
    {% endblock %}
    </title>

{% block content %}

<h1 class="h1">Home Site</h1>
<p>This is your home.html page. At the present moment you are trying to figure out how to create your site and the files within them. NOTE: your home.html is not the landing page. Your landing page will remain the index.html file. So, after you create most of your application your index will become the root or better known as the parent file and the rest will connect or can be seen to branch off from the index. The home page will play a significant part because it will be the secondary go to page when it comes to the registry and blog reference. But I think it would best to simple have the index file connected too all files and as the default page when you want your site to default too.</p>
{% endblock %}



