{% extends 'base.html' %}

<title>{% block title %}Journal Content{% endblock %}</title>

{% include 'navbar' %}
{% block content %}
<h1 class="h1">Landing Page "root"</h1>
<br><br><br><br><br><br>
<p>This is the landing page or the "root" file for all files. This will be considered the default page where all pages connect too. When people enter this site they will be automatically directed this this index.html file. Where they will have the option of connecting to other content by either logging into the account or viewing the default pages available without login.</p>
{% endblock %}